@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.cart-updating a {
  pointer-events: none;
  opacity: 0.5;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #a3e635;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #82c029;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a3e635 rgba(0, 0, 0, 0.1);
}

@keyframes slide-out-width {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.undo-progress-bar {
  animation: slide-out-width 5s linear forwards;
  background-color: rgba(130, 192, 41, 0.7);
}
