@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.cart-updating a {
  pointer-events: none;
  opacity: 0.5;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #a3e635;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #82c029;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a3e635 rgba(0, 0, 0, 0.1);
}

@keyframes slide-out-width {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.undo-progress-bar {
  animation: slide-out-width 5s linear forwards;
  background-color: rgba(130, 192, 41, 0.7);
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.christmas-garland {
  position: relative;
  height: 36px;
  background: #333;
  overflow: hidden;
}

.christmas-garland-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.christmas-garland-light ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.christmas-garland-light li {
  position: absolute;
  top: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation-name: garland-light-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.christmas-garland-light li:nth-child(2n) {
  animation-delay: 1s;
}

@keyframes garland-light-animation {
  0%, 100% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2);
  }
}
